# We expose the hello-server pod via a
# LoadBalancer service that listens on
# port 80 and routes requests to port
# 8000 of the pod.
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hello-server.serviceName" . }}
  labels: {{ include "hello-server.selectorLabels" . | nindent 4 }}
spec:
  ports:
  - port: {{ .Values.service.port }}
    protocol: TCP
    targetPort: 8000
  selector:
    {{ include "hello-server.selectorLabels" . | nindent 4 }}
  type: {{ .Values.service.type }}
